<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
<title>Aplikacja CRUD</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div clss="container">
	<div class="row justify-content-center" style="margin-top: 20px;">
		<div class="col-sm-10">
			<div class="jumbotron" style="background-color: #b9d4f0;">
			  <h1 class="display-4">Witaj Użytkowniku!</h1>
			  <p class="lead">To jest aplikacja CRUD obsługująca działy oraz pracowników małej firmy</p>
			  <hr class="my-4">
			  <p>Kliknij przycisk żeby przejść do listy działów</p>
			  <button type="button" class="btn btn-primary btn-lg" onclick="location.href = '/crud/dzialy/'">Dalej</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>