<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <title>Crud application</title>
  </head>

  <body>
    <div class="container">
      <nav class="nav">
        <a class="nav-link active" href="/crud">Strona główna</a>
        <a class="nav-link active" href="/crud/dzialy">Powrót do działów</a>
      </nav>

      {% if error_message_edit %}
        <p><strong> {{ error_message_edit }}</strong></p>
        <a class="nav-link active" href="/crud/dzialy/{{ dzial.pk }}">Powrót do działu</a>
      {% else %}

        <h3>Edytuj pracownika:</h3>
        <form action="{% url 'crud:prac_to_edit' dzial.pk  prac.pk  %}" method="POST">
          {% csrf_token %}
          <select id="dzial" name="dzial">
            {% for dzial in dzial_list %}
            <option value="{{ dzial.pk }}" selected="selected">{{ dzial.name }}</option>
            {% endfor %}
          </select>
          <div class="form-row">
            <div class="form-group col">
              <label for="pracownikName">Nowe imię:</label>
              <input type="text" name="first_name" value="{{ pracownik_name }}" class="form-control" id="pracownikName" placeholder="Stare imię pracownika: {{ prac.first_name }}", maxlength="15", required>
            </div>
            <div class="form-group col">
              <label for="departmentCode">Nowe nazwisko:</label>
              <input type="text" name="last_name" value="{{ pracownik_last_name }}" class="form-control" id="departmentCode" placeholder="Stare nazwisko pracownika: {{ prac.last_name }}", maxlength="25", required>
            </div>
          </div>
          <div class="form-group">
            <label for="pracownikPhoneNum">Nowy numer telefonu:</label>
            <input type="tel" name="phone_number" value="{{ phone_num }}" class="form-control" id="pracownikPhoneNum" placeholder="Stary numer telefonu: {{ prac.phone_number }}", minlength="12", maxlength="12" required>
          </div>
          <div class="form-group">
            <label for="pracownikEmail">Nowy email:</label>
            <input type="email" name="email" value="{{ email }}" class="form-control" id="pracownikEmail" placeholder="Stary email: {{ prac.email }}", maxlength="125">
          </div>
          <div class="form-group">
            <label for="pracownikPosition">Nowe stanowisko:</label>
            <input type="text" name="position" value="{{ position }}" class="form-control" id="pracownikPosition" placeholder="Stare stanowisko: {{ prac.stanowisko }}", maxlength="50">
          </div>
          <div class="form-row">
            <button type="submit" class="btn btn-primary">Zapisz</button>
          </div>
        </form>     
      {% endif %}  
    </div>

    <!-- Bootstrap JavaScript-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html> 